<%- include('templates/header'); %>

<div class="d-flex mt-4 container text-center justify-content-evenly" id="category">
  <a role="button" href="/pokemon" type="button" class="btn btn-secondary category-btn">Pokemon</a>
  <a role="button" href="/abilities" type="button" class="btn btn-secondary category-btn">Abilities</a>
  <a role="button" href="#" type="button" class="btn btn-secondary category-btn category-active">Moves</a>
  <a role="button" href="/types" type="button" class="btn btn-secondary category-btn">Types</a>
</div>



<%- include('templates/footer'); %>