<div class="container mt-3 mx-auto text-center" id="pokeTypesFilter">
  <button id="normal" class="btn btn-secondary typeFilter"  name="type" value="normal">
  normal</button>
  
  <button id="fighting" class="btn btn-secondary typeFilter"  name="type" value="fighting">
  fighting </button>
  
  <button id="flying" class="btn btn-secondary typeFilter"  name="type" value="flying">
  flying </button>
  
  <button id="poison" class="btn btn-secondary typeFilter"  name="type" value="poison">
  poison </button>
  
  <button id="ground" class="btn btn-secondary typeFilter"  name="type" value="ground">
  ground </button>
  
  <button id="rock" class="btn btn-secondary typeFilter"  name="type" value="rock">
  rock </button>
  
  <button id="bug" class="btn btn-secondary typeFilter"  name="type" value="bug">
  bug </button>
  
  <button id="ghost" class="btn btn-secondary typeFilter"  name="type" value="ghost">
  ghost </button>
  
  <button id="steel" class="btn btn-secondary typeFilter"  name="type" value="steel">
  steel </button>
  
  <button id="fire" class="btn btn-secondary typeFilter"  name="type" value="fire">
  fire </button>
  
  <button id="water" class="btn btn-secondary typeFilter"  name="type" value="water">
  water </button>
  
  <button id="grass" class="btn btn-secondary typeFilter"  name="type" value="grass">
  grass </button>
  
  <button id="electric" class="btn btn-secondary typeFilter"  name="type" value="electric">
  electric </button>
  
  <button id="psychic" class="btn btn-secondary typeFilter"  name="type" value="psychic">
  psychic </button>
  
  <button id="ice" class="btn btn-secondary typeFilter"  name="type" value="ice">
  ice </button>
  
  <button id="dragon" class="btn btn-secondary typeFilter"  name="type" value="dragon">
  dragon </button>
  
  <button id="dark" class="btn btn-secondary typeFilter"  name="type" value="dark">
  dark </button>
  
  <button id="fairy" class="btn btn-secondary typeFilter"  name="type" value="fairy">
  fairy </button>
  
  <button id="stellar" class="btn btn-secondary typeFilter"  name="type" value="stellar">
  stellar </button>
  
  <button id="unknown" class="btn btn-secondary typeFilter"  name="type" value="unknown">
  unknown </button>
</div>